Package: mozc-server-dbgsym
Source: mozc
Version: 2.23.2815.102+dfsg-4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 29916
Depends: mozc-server (= 2.23.2815.102+dfsg-4)
Section: debug
Priority: optional
Description: debug symbols for mozc-server
Build-Ids: 1128daf763ce77ab11bb70feccb55e316c93cc9b 80422dd6310ed29e109fe5ee19daca6322e729b1
