Package: ibus-mozc-dbgsym
Source: mozc
Version: 2.23.2815.102+dfsg-4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 4682
Depends: ibus-mozc (= 2.23.2815.102+dfsg-4)
Section: debug
Priority: optional
Description: debug symbols for ibus-mozc
Build-Ids: f7fb5cb98dff4b122fba49ee520c94e518a3dc1b
