Package: fcitx-mozc
Source: mozc
Version: 2.23.2815.102+dfsg-4
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 1176
Depends: libc6 (>= 2.15), libprotobuf17, libstdc++6 (>= 5.2), fcitx-bin, fcitx-data, fcitx-modules, mozc-server (= 2.23.2815.102+dfsg-4), mozc-data, tegaki-zinnia-japanese
Recommends: fcitx, mozc-utils-gui (= 2.23.2815.102+dfsg-4)
Section: utils
Priority: optional
Multi-Arch: same
Homepage: https://github.com/google/mozc.git
Description: Mozc engine for fcitx - Client of the Mozc input method
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems.
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables.
 It is highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules,
 support for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and
 a developer-friendly API.
 .
 fcitx-mozc provides client part of the Mozc input method.
