Package: mozc-data
Source: mozc
Version: 2.23.2815.102+dfsg-4
Architecture: all
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 41
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/google/mozc.git
Description: Mozc input method - data files
 Mozc is a Japanese Input Method Editor (IME) designed for multi-platform
 such as Chromium OS, Windows, Mac and Linux.
 .
 This package provides the essential data files.
 .
 This open-source project originates from Google Japanese Input.
