Package: uim-mozc
Source: mozc
Version: 2.23.2815.102+dfsg-4
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 992
Depends: libc6 (>= 2.15), libprotobuf17, libstdc++6 (>= 5.2), libuim-scm0 (>= 1:1.5.7), libuim8 (>= 1:1.5.7), mozc-data, mozc-server (= 2.23.2815.102+dfsg-4)
Recommends: mozc-utils-gui (= 2.23.2815.102+dfsg-4)
Section: utils
Priority: optional
Multi-Arch: same
Homepage: https://github.com/google/mozc.git
Description: Mozc engine for uim - Client of the Mozc input method
 uim is an input method module library supporting various languages, which
 become a frontend for Anthy, SKK, Canna, T-Code, TUT-Code,
 Pinyin (Chinese input method), Hangul (Korean input method),
 IPA (International Phonetic Alphabet), etc.
 Most of the functions are implemented with Scheme, so it's very simple
 and flexible.
 .
 Mozc is a Japanese Input Method Editor (IME) designed for multi-platform
 such as Chromium OS, Windows, Mac and Linux.
 .
 uim-mozc provides client part of the Mozc input method.
