Package: mozc-server
Source: mozc
Version: 2.23.2815.102+dfsg-4
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 18887
Depends: libc6 (>= 2.15), libcairo2 (>= 1.2.4), libgcc1 (>= 1:3.4), libglib2.0-0 (>= 2.12.0), libgtk2.0-0 (>= 2.8.0), libpango-1.0-0 (>= 1.20.0), libprotobuf17, libstdc++6 (>= 5.2)
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/google/mozc.git
Description: Server of the Mozc input method
 Mozc is a Japanese Input Method Editor (IME) designed for multi-platform
 such as Chromium OS, Windows, Mac and Linux.
 .
 mozc-server provides GUI utilities of the Mozc input method.
 .
 This open-source project originates from Google Japanese Input.
