Package: emacs-mozc-bin-dbgsym
Source: mozc
Version: 2.23.2815.102+dfsg-4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 3261
Depends: emacs-mozc-bin (= 2.23.2815.102+dfsg-4)
Section: debug
Priority: optional
Description: debug symbols for emacs-mozc-bin
Build-Ids: 4a3a673e984fc70bd1da0037221d1ca250dce169
